<h1>Welcome to Index View</h1>
<hr />
<h4>
    This Application is developed by @ViewBag.Name <br>
    Age is @ViewData["Age"] 
</h4>
@{ 
    for (int i = 0; i < 10; i++) { 
        <p style="background-color:dimgrey; color:aliceblue">Hello</p>
    }
}
