<h1>Search Movie</h1>
@using (Html.BeginForm("Find","Movie",FormMethod.Post)) { 
    <p>
        Enter ID : <input type="text", id="id", name="id">
    </p>
    <p>
        <input type="submit" value="Find Movie">
    </p>
}
