body {
    margin:40px;
    background-color:aquamarine;
    height:800px;
    border:5px solid red;
}
h1 {
    background-color:cornsilk;
    color:black;
    text-align:center;
}
table {
    width:100%;
}
tr:hover {
    color:gold;
    background-color:coral;
}
th {
    font-weight:bolder;

}
a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}